.header{
    width: 100vw;
    min-width: 600px;
    height: 56px;
    
    padding: 0;
    background: var(--header-grad);
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

}

.header-content{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1{
    
    font-family: 'BioRhyme', serif;
    font-size: 14px;
    font-weight: 200;
    margin-left: 8px;
    color: #fff;
}

.header h2{
    color: #fff;
}

.menu-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-logo a img{
    position: relative;
    display: table;
    vertical-align: middle;
    
}

.menu-logo .logo{
    margin-left: 24px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 150px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile img{
    height: 32px;
    width: 32px;
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
}

