#sidebar {
    height: 100%;    
    background-color: #fff;
    color: white;
    width: 400px;
    position: fixed;
    z-index: 200;

    display: flex;
    flex-direction: column;
}

#sidebar.hide{
    display: none;
}

.header-menu{
    height: 56px;
    /* width: 65%;
    margin: 0 auto; */

    width: 100%;
    padding: 0 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    

    border-bottom: 0.7px solid #D2D2D2;
}

.header-menu a img{
    position: relative;
    display: table;
    vertical-align: middle;
}

.logo-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 150px;
}

.logo-sidebar h1{
    
    font-family: 'BioRhyme', serif;
    font-size: 14px;
    font-weight: 200;
    margin-left: 8px;
    color: #A6A6A6;
}

.content-menu{
    flex: 1;
    width: 100%;
    padding: 0 24px;
}

.footer-menu{
    height: 70px;

    width: 100%;
    padding: 0 24px;
}